*.iml
.gradle
/AnimeApi/.gradle
/AnimeApi/.idea
/AnimeApi/.gitignore
/AnimeApi//local.properties
/AnimeApi/.idea/caches
/AnimeApi/.idea/libraries
/AnimeApi/.idea/modules.xml
/AnimeApi/.idea/workspace.xml
/AnimeApi/.idea/navEditor.xml
/AnimeApi/.idea/assetWizardSettings.xml
/AnimeApi/.DS_Store
/AnimeApi/build
/AnimeApi/captures
/AnimeApi/.externalNativeBuild
/AnimeApi/.cxx
/AnimeApi/local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
